__pycache__/
*.py[cod]
*$py.class

.so

.Python
build/
develop-eggs/
dist/
venv/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.eggs-info/
.installed.cfg
*.eggs
test/

.manifest
*.spec

pip-log.txt
pip-delete-this-directory.txt


htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
*.coverage*
.py,coverage
.hypothesis/

*.mo
*.po
*pot




























